.header {
    padding-top: 46px;
    @include mobile-L {
        padding-top: 30px;
    }
}
.container {
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo .icon {
    display: inline-block;
    overflow: hidden;
    height: 64px;
    width: 64px;
    fill: #070707;
}
.header-nav {
    @include mobile-L {
        display: none;
    }
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.header-menu__item a{
    &:active, &:hover{
        color:#606060;
    }
    font-weight: 500;
    font-size: 14px;
}
