.services {
}
.container {
}
.services__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.services__item {
}
.services-picture {
}
.icon {
}
.services-proff {
}
.services-about {
}