.services {
}
.container {
}
.services__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.services__item {
}
.services-picture {
}
.icon {
}
.services-proff {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;

    margin: 30px 0 10px;
}
.services-about p{
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
}
